.u-section-1 {
  min-height: 811px;
  background-image: none;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 383px;
  height: 383px;
  background-image: url("images/abdul.jpg");
  background-position: 50% 50%;
  margin: -299px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 8px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 768px;
  }

  .u-section-1 .u-shape-1 {
    height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1345px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1110px;
  margin: 135px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 358px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 30px 20px;
}

.u-section-2 .u-image-1 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 5px 30px 20px;
}

.u-section-2 .u-image-2 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 5px 30px 20px;
}

.u-section-2 .u-image-3 {
  height: 178px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  width: 1110px;
  margin: 41px auto -42px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 706px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-4 {
  padding: 4px 14px 0;
}

.u-section-2 .u-image-4 {
  height: 504px;
  width: 288px;
  margin: 12px 16px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 0 auto 0 16px;
}

.u-section-2 .u-text-8 {
  margin: 8px 16px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 4px 14px 0;
}

.u-section-2 .u-image-5 {
  height: 504px;
  width: 288px;
  margin: 12px 16px 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 0 auto 0 16px;
}

.u-section-2 .u-text-10 {
  margin: 8px 16px 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 4px 14px 0;
}

.u-section-2 .u-image-6 {
  height: 504px;
  width: 288px;
  margin: 12px 16px 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 0 auto 0 16px;
}

.u-section-2 .u-text-12 {
  margin: 8px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 248px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 303px;
  }

  .u-section-2 .u-image-1 {
    height: 146px;
    margin-top: 36px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-image-2 {
    height: 146px;
    margin-top: 36px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-image-3 {
    height: 146px;
    margin-top: 36px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 598px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-image-4 {
    height: 408px;
    width: 247px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: 25px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-image-5 {
    height: 408px;
    width: 247px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    margin-left: 25px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-image-6 {
    height: 408px;
    width: 247px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    margin-left: 25px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2247px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 696px;
  }

  .u-section-2 .u-image-1 {
    height: 173px;
  }

  .u-section-2 .u-image-2 {
    height: 173px;
  }

  .u-section-2 .u-image-3 {
    height: 173px;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1374px;
  }

  .u-section-2 .u-image-4 {
    height: 407px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 407px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 407px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 300px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 300px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 300px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 185px;
  }

  .u-section-2 .u-image-2 {
    height: 185px;
  }

  .u-section-2 .u-image-3 {
    height: 185px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 16px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 16px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 16px;
  }
}

.u-block-a4c3-16:not([data-block-selected]) {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-block-a4c3-21:not([data-block-selected]) {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-block-a4c3-25:not([data-block-selected]) {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 795px;
}

.u-section-3 .u-image-1 {
  width: 159px;
  height: 159px;
  background-image: url("images/aa.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 42px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 60px;
  margin-bottom: -14px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 66.6667px) calc(33.3333% - 66.6667px) calc(33.3333% - 66.6667px);
  min-height: 268px;
  grid-gap: 100px 100px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-3 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-3 .u-text-6 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 179px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 657px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 204px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px 0;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 332px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 50px 30px;
}

.u-section-4 .u-form-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 526px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 498px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-4 .u-form-group-1 {
    width: 100%;
  }

  .u-section-4 .u-form-group-2 {
    width: 100%;
  }

  .u-section-4 .u-form-group-3 {
    width: 100%;
  }

  .u-section-4 .u-form-group-4 {
    width: 100%;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 314px;
  }
}